.panel {
  @apply bg-white;

  position: absolute;
  top: 100px;
  left: 100px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 30px;

  border-radius: 5px;

  .test {
    max-width: 300px;
    overflow: hidden;
  }

  .logo {
    @apply shrink-0;
    img {
      width: 102px;
      height: 24px;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
